@charset "utf-8";

body {
    background-color:#AFAFAF;
}

.container-pai{
	width: 100%;

}
.container {
	width:800px;
	height:auto;
	margin: auto;
	margin-top: 10px;


}
.container, form{
	padding: 25px;
}

.titulo{
	font-size: 35px;
	text-align: center;
	padding: 15px;


}

